In [95]:
%%html
<h2>Importing the packages<h2>
<h6> spark and sqlContext are already defined in spark 2.0+ <h6>

In [60]:
from pyspark.sql.types import *
from pyspark.sql import Row

In [108]:
%%html
<h6> Defining the schema for the dataset</h6>
<body> Defining the schema has an important function here the column <b>customer_id</b> has <b>integer</b> and <b>string </b> values in the dataset
       to remove the unwanted string value, here we have defined customer_id of type <b>Integer</b> </body>

In [61]:
schema = StructType([
StructField("order_id", StringType(), True),
StructField("customer_id", IntegerType(), True),
StructField("tshirt_category", StringType(), True),
StructField("tshirt_price", IntegerType(), True),
StructField("tshirt_quantity", IntegerType(), True),
])

In [109]:
%%html
<body> Loading the csv data, removing the header and attaching the schema to the dataframe</body>

In [62]:
df = spark.read.csv("Desktop/Datasets/orders.csv",header=False,schema=schema)

In [110]:
%%html
<body> Filtering out the None Rows from the dataset</body>

In [63]:
data = df.filter(df['order_id']!='None')

[Row(order_id=None, customer_id=None, tshirt_category=None, tshirt_price=None, tshirt_quantity=None),
 Row(order_id='HTS-038040-0002', customer_id=38040, tshirt_category='White T-Shirt M', tshirt_price=20, tshirt_quantity=1)]

In [115]:
%%html
<body>Creating a Temporary Table <b>orders<b> </body>

In [80]:
data.registerTempTable("orders")

In [117]:
%%html
<h6> Solving question</h6>
<body> 1 .Number of order placed by each customer_id and the total price he/she paid</body>

In [119]:
order_Count = spark.sql("select customer_id,count(order_id)as number_order,sum(tshirt_price)as cost from orders group by customer_id")
order_Count.show()

+-----------+------------+----+
|customer_id|number_order|cost|
+-----------+------------+----+
|     234080|           2|  36|
|     109608|           1|  23|
|      71527|           5| 104|
|     350109|           3|  64|
|     849543|           2|  42|
|     999122|           6| 134|
|     280383|           2|  47|
|     966765|           1|  24|
|     710614|           1|  19|
|      47283|           5|  96|
|     166150|           5|  97|
|     812641|           1|  18|
|     318585|           4|  79|
|     167881|           1|  23|
|     691372|           2|  43|
|     357089|           2|  46|
|     486875|           1|  18|
|      18800|           2|  37|
|     601660|           3|  59|
|     362395|           3|  60|
+-----------+------------+----+
only showing top 20 rows

In [121]:
%%html
<body>2. Total sales of the different category of t-shirt </body>

In [122]:
sales = spark.sql("select tshirt_category,sum(tshirt_quantity) as total_sales from orders group by tshirt_category")
sales.show()

+---------------+-----------+
|tshirt_category|total_sales|
+---------------+-----------+
|    Wh Tshirt F|        701|
|Black T-Shirt F|       8966|
|         Hoodie|      16638|
|    Bl Tshirt F|        557|
|White T-Shirt M|      14888|
|Black T-Shirt M|      11661|
|White T-Shirt F|       9164|
|   Tennis Shirt|       6724|
|    Bl Tshirt M|        974|
|    Wh Tshirt M|       1242|
+---------------+-----------+